<!DOCTYPE html>
<html>
  <head>
    <title>My Simple HTML Page</title>
  </head>
  <body>
    <p>This is a simple paragraph.</p>
    <p>Here is a website link: <a href="https://www.example.com">Example Website</a>.</p>
    
    
      <h2>Meetings</h2>
      <ul>
        {%for meeting in meetings %}
          <li>
            <a href ="{% url 'detail' meeting.id %}">
              {{meeting.title}}
            </a>
          </li>
        {% endfor %}
        </ul>
      
    <a href = "{% url 'rooms' %}" >room_list</a>
       
  </body>
</html>